<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./lib/vue-2.4.0.js"></script>
</head>

<body>

    <div id="app">
        <div>
            <label>ID:
                <input type="text" v-model="id">
            </label>
            <label>Name:
                <input type="text" v-model="name">
            </label>
            <input type="button" value="添加" @click="add">
        </div>

        <!-- 注意：v-for 循环的时候，key属性只能使用number或string（在我这直接使用item对象没问题） -->
        <!-- 注意：key在使用的时候，必须使用v-bind属性绑定的方式，制定key的值 -->
        <!-- 在组件中，使用v-for循环的时候，或者在一些特殊情况下，如果v-for有问题，必须
        在使用v-for的同时，制定唯一的字符串/数字/对象类型 ：key:值 -->
        <p v-for="item in list" :key="item.id">
            <input type="checkbox">{{item.id}}---{{item.name}}
        </p>
    </div>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                id: '',
                name: '',
                list: [
                    { id: 1, name: '李斯' },
                    { id: 2, name: '嬴政' },
                    { id: 3, name: '赵高' },
                    { id: 4, name: '韩非' },
                    { id: 5, name: '荀子' }
                ]
            },
            methods: {
                add() {//添加方法
                    //this.list.push({ id: this.id, name: this.name })
                    this.list.unshift({ id: this.id, name: this.name })
                }
            }
        })
    </script>
</body>

</html>